*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "微軟正黑體";
}
body
{  
	height:100%;
    overflow: scroll; 
	background-position:center;
	font-family: "微軟正黑體"; 
	background:#FAFAFA; 
    color:black; 
    overflow-x: hidden;
}  
html,.flex{
    min-height: 100%;
    height: 100%;
}
.flex{ 
  display: flex;
  flex-flow: column;
  height: 100%;
} 

.wrap-top
{
  position: sticky;
  top: 0;
  background-color:white;
  padding-top:1%;
  width:100%;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo
{
	display:inline-flex; 
	margin-left:30px;
	margin-right:5px; 
	padding-bottom:0.5%; 
} 
.top-right
{	
  float:right;
  display:inline-flex;
  background:#97A5C0;
  border-radius:10px;
  padding:10px 10px;
  margin-right:27.5px;
}
 

.top-right a
{
  font-size: 15px;
  color:#fff;	
  text-decoration: none;
  font-weight:bold;
}
.top-right a:hover
{
  color:#000;	
} 


.dropdown 
{ 
  text-align: center;
  border-top:1px solid #bababa;
  width:100%;
} 
 
.dropdown ul 
{
  display:flex;
  justify-content: space-between;  
  width:100%;
  padding:0.5% 0px;
  display:inline-flex;
}
  
.dropdown ul li
{ 
  list-style:none;
  width: 148px;
  padding:0.5% 0px;
  font-size: 18px;
  padding: 10px 0px 10px;
}

.dropdown ul li a
{
  text-decoration:none;	
  font-weight:bold;
  color:#000;	
  display: block;
}
.dropdown ul li a:hover
{  
  background-color:#dfdfdf;	 
  font-weight:bold;
} 

.dropdown-content 
{
  display: none;
  min-width: 120px;
  
}
.dropdown li:hover .dropdown-content
{
  display:block;
  color:#000;	
  text-decoration: none;
  background-color:white;	
  position:absolute;
}

.dropdown li:hover .dropdown-content ul
{
  display:block;
  color:#000;	
  text-decoration: none;
  margin-top:10px;
}  


.top-right
{	
  float:right;
  display:inline-flex;
  background:#97A5C0;
  border-radius:10px;
  padding:10px 10px;
  margin-right:27.5px;
}
   
 .bottom img
{   
	height:100%;
	width: 100%;
}
.bottom{   
  flex: 1 1 auto; 
  text-align: left;
  color: white; 
  position: relative;
  
  overflow: hidden;
}
.bottom-center{
	width:100%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.bottom img{
   filter: brightness(60%);
}
.bottom h2{
	color:white; 
	font-weight:bold; 
	margin-top:-60px;
	margin-left:40px;
}
 
.link-box{    
	padding:20px; 
	margin-top:70px;
	background:transparent;
    box-shadow: 20px 0 50px rgba(0,0,0,0.3),
                -20px 0 50px rgba(0,0,0,0.3);
}
.wrap-p{  
	display:flex;
	justify-content:space-between;  
	/*border:3px solid #fff;*/
}
.paper{  
    position: relative; 
	height:80px;
	/*background-color:#7C86Aa;*/
	transition: all .3s ease-in-out; 
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.paper:hover{
    /*transform: scale(1.01);  */
	background-color:rgba(0,0,0,0.7);
    font-size:20px;
	color:black;
	border-radius:20px;  
} 
.write{ 
  min-width:150px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
	text-align:center;
	height:100%;  /*
	border:1px solid #fff;*/
	border-radius:20px;  
}

.write a{ 
	display: inline-block;
	text-decoration:none;
	color:white;
	font-weight:bold;
	font-size:18px;
}
  
[data-reveal="left"]{
  clip-path: inset(0 100% 0 0);
}

[data-reveal="left"].revealed{
  animation: reveal-left 0.7s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-left{
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

[data-reveal="right"]{
  clip-path: inset(0 0 0 100%);
}

[data-reveal="left"].revealed{
  animation: reveal-right 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-right{
  0% {
    clip-path: inset(0 0 0 100%);_
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.image-box .img{
  transform: scale(1.5);
  transition: 0.5s cubic-bezier(0.17, 0.97, 0.38, 1);
}

.image-box.revealed .img{
  transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
	.section {
	grid-template-columns: 1fr;
	text-align: center;
	}
	.title {
	font-size: 3em;
	}
	.content-box {
	padding: 2em;
	}
}

@media only screen and (max-width: 480px) {
	.title {
	font-size: 2em;
	}
	.text {
	font-size: 0.8em;
	}
}
 
 